/* Basic reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  height: 100vh;
  gap: 12px;
  padding: 12px;
  grid-template:
    "header header" 70px
    "sidebar main" 1fr
    "footer footer" 60px
    / 35% 1fr;
  background: #f4f7fb;
  width: 100;
}

.item {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.header {
  grid-area: header;
  background: linear-gradient(90deg, #6c5ce7, #00b894);
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  grid-area: sidebar;
  padding-left: 0px;
}

.main {
  grid-area: main;
  min-width: 100px;
}

.footer {
  grid-area: footer;
  text-align: center;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
